/* .dogpage {
    width: 100vw;
    height: 100vh;
    background-image: url("C:/Users/wasadmin/Desktop/Git/Capstone/dogs.jpg");
    background-size: cover;
} */

.big-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.container {
    display: table-column;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 6px 0;
}
.container img{
    border-radius: 50%;
}
.container p{
    color:black;
}
.container:hover {
    opacity: 90%;
}

img {
    height: 150px;
    width: 150px;
}
