/* .dogpage {
    width: 100vw;
    height: 100vh;
    background-image: url("C:/Users/wasadmin/Desktop/Git/Capstone/dogs.jpg");
    background-size: cover;
} */

.big-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.container {
    display: flex;
}

img {
    height: 150px;
    width: 150px;
}
